#profile{
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 500;
    position: relative;
    height: 78vh;
    background-color: #E2EFEF;
    width: 100%;

    #profile_flame{
        

    }

}