html{
    width: 100%;
    height: 100%;
}

body{
    background-color: white;
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C91C5;
    color: white;
    position: relative;
    z-index: 100;
}
h1{
    font-size: 16px;
}
.back_button{
    position: absolute;
    background-color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    left: 8%;
    top: 30%;
}
.material-icons-outlined{
    color: #2C91C5;
    padding-top: 10%;
    padding-left: 18%;
}

main{
    width: 100%;
    height: 87%;
    text-align: center;
    margin: 0 auto;
    color: #1794D5;
    position: relative;
}

.theme_cover{
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
    background-color: #2C91C5;
}
.theme{
    color: white;
    font-size: 16px;
}

.view{
    width: 90%;
    margin: 0 auto;
}
.view_list{

}
.sub_order_cover{
    width: 100%;
    margin: 10% 0 10% 0;
}
.sub_order{
    width: 100%;
    display: flex;
    border-bottom: 2px dotted #2C91C5;
    padding-top: 3%;
    padding-bottom: 3%;
}
.number{
    text-align: left;
}
.first_order_val{

}
.second_order_val{

}
.sub_val{
    text-align: left;
    font-size: 16px;
    margin: 0 0 0 10%;
}

.active_order{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    border: 2px solid #D9E5EB;
    border-radius: 7px;
}
.active_cover{
    width: 90%;
    height: 80%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
}
.active_order_val{
    width: 90%;
    text-align: left;
    font-size: 23px;
    align-items: center;
}
.active_number{
    width: 10%;
    font-size: 29px;
}
.order{
    display: none;
}
.sub_action{
    width: 100%;
    position: relative;
    margin: 0 0 20% 0;
}
.unopen{
    font-size: 60px;
    letter-spacing: -35px;
    font-weight: bold;
    text-align: center;
    background: #005aa7; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #005aa7, #fffde4);
    background: linear-gradient(to right, #005aa7, #fffde4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(90deg);
    border: none;
}
.all_list{
    position: absolute;
    right: 0;
    top: 65%;
}
.button{
    border-radius: 4px;
    background-color: #D9E5EB;
    margin: 2% 0 2% 0;
}
.material-icons-round{
    display: inline-flex;
    vertical-align: middle;
    font-size: 250% !important;
}

.com_button{
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: 4px solid #2C91C5;
    border-radius: 50px;
    background-color: #F3FFF8;
}

#all_modal{
    width: 90%;
    margin: 0 auto;
    display: none;
}

.m_view_list{
    width: 100%;
    margin: 5% 0 0 0;
}

.list_order{
    border-bottom: 2px dotted #2C91C5;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 1%;
    text-align: left;
    margin: 0 auto;
}
.all_theme_cover{
    padding-top: 6%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}
.all_theme{
    color: #2C91C5;
    font-size: 16px;
    font-weight: 900;
}

#judge_modal{
    width: 100%;
    height: 150%;
    display: none;
    background-color: #49b6ecc0;
    position: absolute;
    top: -8%;
}

.theme_view{
    background-color: #49b6ecc0;
    color: white;
}

.q_p{
    text-align: center;
    color: white;
    padding-top: 20%;
    padding-bottom: 10%;
}

.no{
    color: red;
    font-size: 100px;

}

.ok{
    color: #00FF6E;
    font-size: 100px;
}

.no_p{
    color: red;
}

.ok_p{
    color: #00FF6E;
}

.modal_theme_view{
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin:  0 auto 7% auto;
    border-radius: 30px;
    background-color: #49b6ecc0;
    color: white;
}

.judge_modal_cover{
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #2C91C5;
    border-radius: 7px;
    padding-top: 7%;
}

.modal_theme{
    margin: 0 0 7% 0;
}

.judge_cover{
    width: 100%;
    display: flex;
}

.no_cover{
    border-top: 2px dotted #005aa7;
    border-right: 2px dotted #005aa7;
    width: 50%;
}

.ok_cover{
    border-top: 2px dotted #005aa7;
    border-left: 2px dotted #005aa7;
    width: 50%;
}

#button_modal{
    width: 100%;
    display: none;
}

.button_cover{
    width: 100%;
}

.end_button{
    width: 80%;
    margin: 2% 0 2% 0;
    background-color: white;
    color: #2C91C5;
}

.re_button{
    width: 80%;
    margin: 2% 0 2% 0;
    background-color: white;
    color: #2C91C5;
}