<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お題を選択</title>
</head>
<body>

<form method="post">
    <main class="l_theme_main">
        <div class="l_theme_main__title p_theme_main">
            <h1>お題を決めよう!!</h1>
        </div>
        <div>にんじんを星形に切る</div>
        <div class="title_modal">
            にんじんを星形に切る
            
            必要なもの
            <ul>
                <li>にんじん</li>
                <li>包丁</li>
                <li>まな板</li>
            </ul>
            リワード
        </div>
    </main>
</form>