.display-none{
    display:none;
}

.focus{
    width : 200px;
    height: 80px;
    background-color: rgb(185, 185, 185);
    text-align: center;
}

ol{
    width: 200px;
    background-color: rgb(241, 241, 241);
    margin: 0;
}


#fix_order{
    text-align: center;

}