@import "../variable";
.congrat{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 20px;
}
.user_icon{
    width: 100px;
    height: 100px;
    img{
        border: 2px solid $button_border;
        background-color: $main_bg_color;
        border-radius: 100px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.level_wrapper{
    width: 100%;
    margin-bottom: 10px;
}

.level_box {
    position: relative;
    width: 100%;
    height: 18px;
    color: $sub_bg_color;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.16);
}
.next_level{
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    span{
        color: $text_color;
        font-size: 1.2rem;
    }
}
.animation-box {
    max-width: 100%;
    height: 100%;
    color: #333;
    box-sizing: border-box;
    border-radius: 20px;
}
.animation {
    height: 100%;
    border-radius: 20px;
    background-color: $fav_color;
    animation-name: animation-sample;
    /*--アニメーション名--*/
    animation-duration: 3s;
    /*--時間--*/
    animation-iteration-count: 1;
    /*--実行回数--*/
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes animation-sample {
    0% {
      width: 5%;
    }
    100% {
      width: 100%;
    }
}
.rank_point {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: $text_color;
  font-size: 0.8rem;
}
.level_up_modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 12;
    opacity: 0;
    align-items: center;
    justify-content: center;
    color: $white;
    display: flex;
}
.bg_fade_in{
    animation: bg_fade .5s forwards;
}
.bg_fade_out{
    animation: bg_fade_out .5s forwards;
}
@keyframes bg_fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes bg_fade_out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.level_up_window_box{
    width: 100%;
    padding: 0 20px;
    max-height: 0px;
    transition: max-height .4s .2s,transform .4s .2s;
    transition-timing-function: linear;
    overflow: hidden;
    transform: translateY(-50%);
}
.level_up_window{
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level_up_text{
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    width: 100vw;
    background: linear-gradient(0deg, rgba(255,252,197,0) 0%, rgba(255,250,148,0.15) 50%, rgba(255,252,197,0) 100%);
    span{
        background: linear-gradient(333deg, rgba(255,224,17,1) 0%, rgba(255,252,197,1) 100%);
        -webkit-background-clip: text;//テキストでくり抜く
        -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    }
}
.level_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    .privious{
        font-size: 1.1rem;
        margin-bottom: -3px;
    }
    .arrow{
        font-size: 20px;
        margin-bottom: -5px;
    }
    .current{
        font-size: 1.8rem;
        font-weight: 800;
        background: linear-gradient(333deg, rgb(242, 214, 37) 0%, rgb(221, 217, 138) 100%);
        -webkit-background-clip: text;//テキストでくり抜く
        -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    }
}
.reward_item{
    width: 33vw;
    height: 33vw;
    img{
        border-radius: 200px;
        background-color: $white;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.color_item{
  position: relative;
  overflow: hidden;
  border-radius: $r;
  &::after{
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }
  &::before{
    content: "";
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top right;
  }
}
.reward_text{
    margin-bottom: 10px;
}
.rewards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.reward_name{
    text-align: center;
    background-color: $white;
    padding: 4px 8px;
    border-radius: $r;
    color: $text_color;
    margin-top: 5px;
}
.emerald{
  & + p{
    color: $emerald_sub !important;
  }
  &::after{
    background-color: $emerald_sub;
  }
  &::before{
    background-color: $emerald_main;
  }
}
.emeraldgreen{
  & + p{
    margin-top: 5px;
    color: $emeraldgreen_sub !important;
  }
  &::after{
    background-color: $emeraldgreen_sub;
  }
  &::before{
    background-color: $emeraldgreen_main;
  }
}
.strawberry{
  & + p{
    margin-top: 5px;
    color: $strawberry_sub !important;
  }
  &::after{
    background-color: $strawberry_sub;
  }
  &::before{
    background-color: $strawberry_main;
  }
}
.oceanblue{
  & + p{
    margin-top: 5px;
    color: $oceanblue_sub !important;
  }
  &::after{
    background-color: $oceanblue_sub;
  }
  &::before{
    background-color: $oceanblue_main;
  }
}
.grapefruit{
  & + p{
    margin-top: 5px;
    color: $grapefruit_sub !important;
  }
  &::after{
    background-color: $grapefruit_sub;
  }
  &::before{
    background-color: $grapefruit_main;
  }
}
.amethyst{
  & + p{
    margin-top: 5px;
    color: $amethyst_sub !important;
  }
  &::after{
    background-color: $amethyst_sub;
  }
  &::before{
    background-color: $amethyst_main;
  }
}
.depth{
  & + p{
    margin-top: 5px;
    color: $depth_sub !important;
  }
  &::after{
    background-color: $depth_sub;
  }
  &::before{
    background-color: $depth_main;
  }
}
.jupiter{
  & + p{
    margin-top: 5px;
    color: $jupiter_sub !important;
  }
  &::after{
    background-color: $jupiter_sub;
  }
  &::before{
    background-color: $jupiter_main;
  }
}
.lipstick{
  & + p{
    margin-top: 5px;
    color: $lipstick_sub !important;
  }
  &::after{
    background-color: $lipstick_sub;
  }
  &::before{
    background-color: $lipstick_main;
  }
}
.roseiron{
  & + p{
    margin-top: 5px;
    color: $roseiron_sub !important;
  }
  &::after{
    background-color: $roseiron_sub;
  }
  &::before{
    background-color: $roseiron_main;
  }
}
.close_level_up{
    padding-top: 20px;
    font-size: 1.4rem;
    font-weight: 700;
}
form{
    width: 100%;
}
.end_game{
    width: 100%;
    margin-top: 40px;
}

.public_setting{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: $sub_bg_color;
    color: $white;
    border-radius: $r;
    display: flex;
    flex-direction: column;
}
.public_text{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed $white;
}
.public_radio{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    &:last-of-type{
        padding-bottom: 0px;
    }
    .material-icons-round{
        font-size: 2rem;
        margin-right: 10px;
    }
}
.radio_btn{
    width: 20px;
    height: 20px;
    border: 1px solid $white;
    position: relative;
    border-radius: 30px;
    margin-left: auto;
    overflow: hidden;
}
input[type = radio]{
    display: none;
}
.radio_btn_active{
    &::after{
        content: "";
        border-radius: 30px;
        position: absolute;
        width: 14px;
        height: 14px;
        top: 50%;
        left: 50%;
        background-color: $white;
        animation: radio 0.2s forwards;
    }
}
@keyframes radio {
    0%{
        transform: translateX(-50%) translateY(0%);
    }
    80%{
        transform: translateX(-50%) translateY(-60%);
    }
    90%{
        transform: translateX(-50%) translateY(-40%);
    }
    100%{
        transform: translateX(-50%) translateY(-50%);
    }
}
