@import "../variable";

/* 新規登録 */
main{
    width: 100%;
    height: 100vh;
    background-color: var(--sub_color);
    padding-top: 80px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0px;
  }
  #login_dev{
      width: 90%;
      margin: 0 auto;
  }

  .title_call{
    margin: 2vh auto 0 auto;
    width: 90%;
    line-height: 16px;
    font-size: 0.7rem;
    text-align: center;
  }

  .login_home_img_cover{
      width: 25vh;
      margin: 0 auto;
  }

  .login_home_img{
  }

  .error_zone{
    display: flex;
    justify-self: center !important;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    background-color: var(--sub_color);
    color: white;
    margin: 1vh auto 1vh auto;
    font-size: 0.6rem;
  }

  .err_icon_cover{
    text-align: center;
  }

  .err_icon{
    font-size: 18px;
  }

  .error_msg{
    white-space: nowrap;
    margin: 0 auto;
    padding-top: 1vh;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6) !important;

    li{
      padding-bottom: 5px;
      width: 85%;
      margin: 0 auto;
    }
  }
  .input_cover{
    width: 90%;
    height: 79px;
    margin: 0 auto;
    padding-bottom: 1vh;
    position: relative;
  }

  .visibility_on_icon{
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .visibility_off_icon{
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .log_input, .input-thick {
    display: block;
    width: 100%;
    height: 5vh;
    background-color: #fbfeff;
    color: #3A9FA8;
    border-radius: 30px;
    color: #3A9FA8;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: background-color 0.3s, border-color 0.3s;
    padding: 6px 12px;
  }

  .input{
      text-align: left;
  }

  .lavel{
    display: flex;
    justify-content: flex-start;
    margin: 0 0 5px 0;
    font-size: 0.7rem;
  }

  .name_cover{
    margin: 2vh auto 0 auto;
  }
  .pass_cover{

  }

  .form_input{

  }

  .rem_cover{
      text-align: left !important;
      padding: 0 0 0 5vw;
    span{
      padding-left: 6px;
      font-size: 0.7rem;
    }
  }

  .p_pixel{
      font-weight: 700;
      font-size: 0.6rem;
  }

  .word_count{
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
  }

  .btn_cover{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3vh 0 0 0;
  }
  .button{
    width: 90%;
    height: 6vh;
    border-radius: 30px !important;
    border: 5px solid $input_border;
  }

  .btn{
      width: 90%;
      margin: 2vh 0 0 0;
  }
  .reg_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh auto;
  }
  .log_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh auto;
  }



  /* ログイン */
