@import "../variable";

  .back_button {
    position: absolute;
    background-color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    left: 8%;
    top: 30%;
  }
  .material-icons-outlined {
    color: #2c91c5;
    padding-top: 10%;
    padding-left: 18%;
  }

  html{
    overflow-y: hidden;
  }

  main {
    width: 100%;
    height: 100vh;
    font-size: 0.8rem;
    position: relative;
  }

  #prof {
    width: 100%;
    height: 35%;
    position: relative;
  }
  .pattern_cover {
    position: absolute;
    right: 4%;
    top: -12%;
    color: $sub_bg_color;
  }
  .palette_cover {
    width: 45px;
    height: 45px;
    background-color: $sub_bg_color;
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    justify-self: center;
    align-items: center;
    /* ボタンの枠 */
    box-shadow: var(--frame_color) 0px 0px 0px 4px;
  }
  .palette {
    margin: 0 auto;
    color: white;
  }
  .pattern {
    padding-top: 5px;
    font-size: 0.5rem;
    font-weight: 600;
    color: $text_color;
  }
  .prof_area {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .prof_cover {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 11% auto 0 auto;
  }
  .prof_img {
    border-radius: 50px;
    width: 100%;
    height: 100%;
    border: 5px solid $sub_bg_color;
    object-fit: cover;
    z-index: -10000;
  }
  .edit_cover {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $sub_bg_color;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
  }
  .edit {
    padding-top: 40% !important;
    font-size: 1rem !important;
    width: 40px;
    height: 40px;
    color: white;
  }

  .name {
    margin: 3% 0 3% 0;
    letter-spacing: 0px;
    font-weight: bold;
    color: $text_color;
  }

  .rank_cover {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    font-weight: 600;
    color: $sub_bg_color;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -12px;
    left: -12px;
  }

  .rank {
    font-size: 10px;
    transform: scale(0.8);
  }
  .rank_no {
    font-size: 14px;
  }

  .color_item{
    position: relative;
    overflow: hidden;
    border-radius: $r;
    width: 100px;
    height: 100px;
    &::after{
      content: "";
      width: 200%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }
    &::before{
      content: "";
      width: 100%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: top right;
    }
    & + p{
      white-space: nowrap;
      margin-top: 5px;
    }
  }
  .emerald{
    & + p{
      color: $emerald_sub !important;
    }
    &::after{
      background-color: $emerald_sub;
    }
    &::before{
      background-color: $emerald_main;
    }
  }
  .emeraldgreen{
    & + p{
      margin-top: 5px;
      color: $emeraldgreen_sub !important;
    }
    &::after{
      background-color: $emeraldgreen_sub;
    }
    &::before{
      background-color: $emeraldgreen_main;
    }
  }
  .strawberry{
    & + p{
      margin-top: 5px;
      color: $strawberry_sub !important;
    }
    &::after{
      background-color: $strawberry_sub;
    }
    &::before{
      background-color: $strawberry_main;
    }
  }
  .oceanblue{
    & + p{
      margin-top: 5px;
      color: $oceanblue_sub !important;
    }
    &::after{
      background-color: $oceanblue_sub;
    }
    &::before{
      background-color: $oceanblue_main;
    }
  }
  .grapefruit{
    & + p{
      margin-top: 5px;
      color: $grapefruit_sub !important;
    }
    &::after{
      background-color: $grapefruit_sub;
    }
    &::before{
      background-color: $grapefruit_main;
    }
  }
  .amethyst{
    & + p{
      margin-top: 5px;
      color: $amethyst_sub !important;
    }
    &::after{
      background-color: $amethyst_sub;
    }
    &::before{
      background-color: $amethyst_main;
    }
  }
  .depth{
    & + p{
      margin-top: 5px;
      color: $depth_sub !important;
    }
    &::after{
      background-color: $depth_sub;
    }
    &::before{
      background-color: $depth_main;
    }
  }
  .jupiter{
    & + p{
      margin-top: 5px;
      color: $jupiter_sub !important;
    }
    &::after{
      background-color: $jupiter_sub;
    }
    &::before{
      background-color: $jupiter_main;
    }
  }
  .lipstick{
    & + p{
      margin-top: 5px;
      color: $lipstick_sub !important;
    }
    &::after{
      background-color: $lipstick_sub;
    }
    &::before{
      background-color: $lipstick_main;
    }
  }
  .roseiron{
    & + p{
      margin-top: 5px;
      color: $roseiron_sub !important;
    }
    &::after{
      background-color: $roseiron_sub;
    }
    &::before{
      background-color: $roseiron_main;
    }
  }
  /* レベルメーター */
  .level_box {
    position: relative;
    width: 70%;
    height: 18px;
    color: $sub_bg_color;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.16);
  }
  .animation-box {
    width: 100%;
    height: 100%;
    color: #333;
    box-sizing: border-box;
    border-radius: 20px;
  }
  .animation {
    background-color: $fav_color;
    animation-name: animation-sample;
    /*--アニメーション名--*/
    animation-duration: 3s;
    /*--時間--*/
    animation-iteration-count: 1;
    /*--実行回数--*/
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  @keyframes animation-sample {
    0% {
      width: 5%;
    }
    100% {
      width: 100%;
    }
  }

  .rank_point {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: $text_color;;
  }
  .left_rank_point {
    padding-right: 1%;
    font-size: 0.5rem;
  }
  .center_rank_point {
    font-size: 0.5rem;
  }
  .right_rank_point {
    padding-left: 1%;
    font-size: 0.5rem;
  }

  .get_star_cover {
    margin: 10px auto 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $fav_color;
    border-radius: 30px;
    width: 100px;
    border: white solid 2px;
    color: white;
    padding: 3px 0;
    font-weight: 600;
  }
  .get_star_num {
    font-size: 0.75rem;
    padding-left: 0.5rem;
  }

  #todo {
    width: 100%;
    height: 1fr;
    background-color: var(--sub_color);
    color: $sub_bg_color;
  }
  .todo_sort_cover {
    width: 100%;
    height: 10%;
    color: $text_color;
  }
  .todo_title {
    text-align: center;
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    color: $text_color;
  }

  .item_list{
    margin: 0 auto;
    padding-bottom: 2vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
  }

  .lines_num_cover{
    display: flex;
    align-items: center;
    font-size: 0.6rem;
  }
  /* 左右ボーダー */
  .text-divider {
    display: flex;
    align-items: center;
  }
  .text-divider::before,
  .text-divider::after {
    content: "";
    flex-grow: 1;
    border-top: 4px dotted $sub_bg_color;
    display: block;
  }
  .text-divider::before {
    margin-right: 10px;
  }
  .text-divider::after {
    margin-left: 10px;
  }

  .sort_cover {
    width: 90%;
    font-size: 0.6rem;
    padding-bottom: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .sort {
  }
  .sort_seed {
  }
  .drop_arrow {
    font-size: 0.9rem !important;
  }

  .todo_scroll{
    width: 100%;
    height: 310px;
  }
  .todo_list_cover {
    width: 100%;
    height: 40vh;
    overflow-y: auto;
  }
  .todo_list {
    width: 80%;
    height: auto;
    margin: 0 auto 5% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 15px solid $sub_bg_color;
    border-radius: 5px;
    background-color: #fff;
    font-size: 0.8rem;
  }
  .top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 2px dotted $sub_bg_color;
    font-size: 0.6rem;

    .todo_public_setting{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 25%;
      .material-icons-round{
        font-size: 20px;

        &.on{
          color: $sub_bg_color;
        }
        &.off{
          color: rgb(199, 218, 212);
        }
      }
    }
  }
  .todo_theme {
    width: 70%;
  }

  .under {
    width: 100%;
    height: 100%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
  }
  .cross {
    font-size: 0.6rem;
  }
  .lines_cover {
    display: flex;
    align-items: flex-end;
  }
  .lines_icon {
  }
  .lines {
    font-size: 0.6rem;
  }
  .fav_cover {
    display: flex;
    align-items: flex-end;
    padding-right: 12%;
    color: $second_color;
  }
  .fav_icon {
  }
  .fav {
    font-size: 0.6rem;
  }
  .data {
    display: flex;
    align-items: flex-end;
    padding-right: 6%;
    font-size: 0.6rem;
    font-weight: 600;
  }
  .year {
  }
  .month {
  }
  .day {
  }
  .slash {
  }


  .popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
  }

  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }

  .popup_header {
    position: relative;
    background-color: $sub_bg_color;
    color: white;
    width: 100%;
    height: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    font-weight: 800;
  }

  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff;
    z-index: 2;
    color: #3a9fa8;
    border-radius: 5px;
    text-align: center;
  }

  .popup-inner .get_text {
    font-weight: 700;
    font-size: 26px;
  }

  .popup-inner button {
    position: relative;
    background-color: $fav_color;
    border-radius: 40px;
    border: #e7d9a2 solid 6px;
    color: white;
    padding: 0 60px;
    height: 40px;
    bottom: -20px;
    cursor: pointer;
    z-index: 999;
  }

  .popup-inner .get_item_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 20px 0;
  }

  .popup-inner .get_item_block > div {
    width: 50%;
  }

  .popup-inner img {
    width: auto;
    height: auto;
  }
  .popup-inner p {
    font-size: 12px;
  }

  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    cursor: pointer;
  }

  .modal_items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 65vh;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
  }
  .modal_items > div {
    padding: 1rem;
    width: 50%;
  }
  .modal_items > div img {
    width: 90px;
    height: auto;
  }

  /* アイコン */
  .modal_items_icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    height: 65vh;
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
  }
  .modal_items_icon > div {
    padding: 1rem;
    position: relative;
    width: 50%;
    text-align: center;
  }
  .modal_items_icon > p {
    text-align: center;
  }
  .icon_cover {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 40px;
    margin: 0 auto;
  }
  .icon_cover img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 5px solid $sub_bg_color;
    object-fit: cover;
    z-index: -10000;
  }

  /* 選択中のアイコン */
  .active_icon {
    background-color: $sub_bg_color;
    border-radius: 20px;
    z-index: -100;
    color: white;
  }

    /* modal */
    #release_modal{
      display: none;
      width: 100%;
      height: 100%;
      background: $modal_main_bg_color;
      padding: 20vh 0 0 0;
      position: fixed;
      top: 0;
      z-index: 100;
      .release_modal{
        display: flex;
        justify-self: center;
        align-items: center;
        .release_cover{
          width: 80%;
          height: 500px;
          margin: 0 auto;
          background-color: white;
          border: 2px solid black;
          border-radius: 10px;
          position: relative;
          .modal_prof_img_area{
            position: relative;
            width: 100px;
            border-radius: 50px;
            margin: 0 auto 0 auto;
            .modal_prof_img{
              width: 100px;
              height: 100px;
              border: 5px solid $sub_bg_color;
              border-radius: 50px;
              position: absolute;
              top: -10px;
              left: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
            }
            .modal_rank_area{
              position: absolute;
              background-color: white;
              border-radius: 50%;
              width: 38px;
              height: 38px;
              font-weight: 600;
              color: $sub_bg_color;
              display: flex;
              align-items: center;
              justify-content: center;
              top: -70px;
              left: -12px;
              z-index: 100;
              .modal_rank_cover{
                text-align: center;
                .modal_rank{
                  font-size: 0.1rem;
                }
                .modal_rank_sum{
                  font-size: 1rem;
                }
              }
            }
          }
          .modal_top{
            width: 100%;
            height: 50%;
            border-bottom: 3px dotted black;
            .modal_close{
              position: absolute;
              top: -18px;
              right: -18px;
              .modal_close_icon{
                font-size: 2.5rem;
                background-color: $white;
                border-radius: 100px;
              }
            }
            .modal_user_name{
              width: 100%;
              height: 33%;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              background-color: $main_bg_color;
              border-radius: 10px 10px 0 0;
              .modal_name{
                font-size: 1.2rem;
              }
            }
            .modal_half{
              margin-top: -1px;
              width: 100%;
              height: 33%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: linear-gradient(180deg, $main_bg_color 0%, $main_bg_color 50%, #ffffff 50%, #ffffff 100%);
              .modal_fav_cover{
                width: 25vw;
                padding: 0.5vh 0 0.5vh 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 100;
                background: $second_color;
                border: 4px solid white;
                border-radius: 50px;
                .moda_fav_icon{
                  color: white;
                  padding: 0 1vw 0 0;
                }
                .modal_sums{
                  color: white;
                  padding: 0 0 1vw 0;
                }
              }
            }
            .modal_theme_cover{
              width: 100%;
              height: 33%;
              display: flex;
              justify-content: center;
              align-items: center;
              .modal_theme{
                width: 80%;
              }
            }
          }
          .modal_under{
            width: 100%;
            height: 50%;
            .modal_items{
              height: 30%;
              font-size: 0.6rem;
              .modal_lines_cover{
                display: flex;
                align-items: flex-end;
                .modal_lines_icon{

                }
                .cross{

                }
                .modal_lines{

                }
              }
              .modal_date_cover{
                display: flex;
                align-items: flex-end;
                padding: 0 3vw 0 0;
                .modal_calendar_icon{

                }
                .modal_date{
                  display: flex;
                  padding: 0 0 0 1vw;
                  .modal_year{

                  }
                  .modal_slash{

                  }
                  .modal_month{

                  }
                  .modal_day{

                  }
                }
                .modal_time{
                  display: flex;
                  padding: 0 0 0 1vw;
                  .modal_hour{

                  }
                  .modal_dott{

                  }
                  .modal_minutes{

                  }
                }
              }
            }
            .modal_button_cover{
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              padding: 2vh 0 0 0;
              .modal_lerease_btn{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid $sub_bg_color;
                margin: 0 0 0.5vh 0;
                .modal_release_icon{

                }
                .modal_release_p{

                }
              }
              .modal_play_btn{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $sub_bg_color;
                color: white;
                margin: 0.5vh 0 0 0;
                .modal_play_icon{

                }
                .modal_play_p{

                }
              }
              .modal_button{
                width: 80%;
                padding: 1vh 0 1vh 0;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }

    //checkModal
    #release_check_modal{
      background-color: $modal_main_bg_color;
      width: 100%;
      height: 100%;
      position: fixed;
      display: none;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      z-index: 1000;
      .release_check_modal_cover{
        position: relative;
        width: 60%;
        height: 30vh;
        background-color: $white;
        border: 3px solid $sub_bg_color;
        border-radius: 10px;
        .release_top{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          width: 85%;
          height: 35%;
          .release_p{
            text-align: center;
            font-size: 0.8rem;
          }
        }
        .release_under{
          width: 95%;
          margin: 0 auto;
          position: relative;
          border-top: 3px dotted $sub_bg_color;
          .release_check_area{
            width: 90%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .release_ok_area{
              .release_ok_cover{
                .release_ok_icon{

                }
                .release_ok_p{

                }
              }
              .check_ok{
                display: block;
              }
            }
            .release_no_area{
              display: block;
              .release_no_cover{
                .release_no_icon{

                }
                .release_no_p{

                }
              }
              .check_no{
                display: block;
              }
            }
            .release_check_cover{
              margin: 0 auto;
              display: flex;
              padding: 2.5vh 4vw 0 4vw;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              .release_check_inner{
                display: flex;
              }
            }
          }
        }
        .release_comp{
          position: absolute;
          bottom: -35px;
          left: 50%;
          display: flex;
          border-radius: 20px;
          justify-content: center;
          background-color: $sub_bg_color;
          width: 20vw;
          padding: 0.8vh 0 0.8vh 0;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          .comp_p{
            color: $white;
          }
        }
      }
    }
    .check{
    }
