:root {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="strawberry"] {
  --main_bg_color: #F5EAED;
  --sub_bg_color: #DE4065;
  --text_color: #DE4065;
  --button_border: #EE90A6;
  --second_color: #A6D114;
  --input_border: #A6D114;
}

:root[theme="emerald"] {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="emeraldgreen"] {
  --main_bg_color: #E8F6EF;
  --sub_bg_color: #0FAA6C;
  --text_color: #0FAA6C;
  --button_border: #82D8B3;
  --second_color: #D51194;
  --input_border: #D51194;
}

:root[theme="oceanblue"] {
  --main_bg_color: #ECF2FF;
  --sub_bg_color: #417ECE;
  --text_color: #417ECE;
  --button_border: #93B6E6;
  --second_color: #A8D511;
  --input_border: #A8D511;
}

:root[theme="grapefruit"] {
  --main_bg_color: #F5F2EA;
  --sub_bg_color: #FFAA00;
  --text_color: #DF2588;
  --button_border: #EA8AB8;
  --second_color: #DF2588;
  --input_border: #DF2588;
}

:root[theme="amethyst"] {
  --main_bg_color: #F9ECFF;
  --sub_bg_color: #7A4C9D;
  --text_color: #030897;
  --button_border: #B298CE;
  --second_color: #030897;
  --input_border: #030897;
}

:root[theme="depth"] {
  --main_bg_color: #15277D;
  --sub_bg_color: #0C1A60;
  --text_color: #00BAFF;
  --button_border: #B298CE;
  --second_color: #00BAFF;
  --input_border: #00BAFF;
}

:root[theme="jupiter"] {
  --main_bg_color: #E5DEDC;
  --sub_bg_color: #7E7473;
  --text_color: #7E7473;
  --button_border: #303030;
  --second_color: #FF9100;
  --input_border: #FF9100;
}

:root[theme="lipstick"] {
  --main_bg_color: #D9D9D9;
  --sub_bg_color: #A4A4A4;
  --text_color: #FF406D;
  --button_border: #C4C4C4 ;
  --second_color: #FF406D;
  --input_border: #FF406D;
}

:root[theme="roseiron"] {
  --main_bg_color: #716D7D;
  --sub_bg_color: #383340;
  --text_color: #FF8000;
  --button_border: #544F5E ;
  --second_color: #FF8000;
  --input_border: #FF8000;
}

/* color */
.op {
  opacity: 1 !important;
}

.profile_modal {
  font-family: "M PLUS 2", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 0;
  transition: 0.6s;
}

.profile_modal .profile_area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.profile_modal .profile_area .profile_wrap {
  position: relative;
  width: 80%;
  height: auto;
  z-index: 999;
}

.profile_modal .profile_area .profile_wrap .profile_modal_top {
  position: absolute;
  left: -35px;
  top: -10px;
  margin: auto;
  color: #fbfeff;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}

.profile_modal .profile_area .profile_wrap .profile_modal_top .profile_img {
  width: 70px;
  height: 70px;
  background-color: var(--main_bg_color);
  border: solid var(--sub_bg_color) 4px;
  border-radius: 50%;
}

.profile_modal .profile_area .profile_wrap .profile_modal_top .profile_img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_modal .profile_area .profile_wrap #close-btn {
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-color: #fbfeff;
  width: 35px;
  height: 35px;
  border: #858585 solid 2px;
  border-radius: 50%;
  z-index: 99;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_modal .profile_area .profile_wrap #close-btn .material-icons-round {
  font-size: 20px;
  color: #858585;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main {
  width: 100%;
  height: 100%;
  background-color: #fbfeff;
  border: 1px solid gray;
  border-radius: 10px;
  z-index: 99;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_info {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--sub_bg_color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_info h2 {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  font-family: "M PLUS 2", sans-serif;
  color: #fbfeff;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_theme {
  padding: 20px 10%;
  font-weight: 600;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .star_point_wrapp {
  width: 100%;
  display: flex;
  align-items: center;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .star_point_content {
  background-color: #ebcb4d;
  color: #fbfeff;
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  border: solid #fbfeff 3px;
  border-radius: 50px;
  margin: 0 auto;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .star_point_content .material-icons-round {
  font-size: 16px;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .star_point_content p {
  text-align: center;
  padding-left: 8px;
  font-weight: 700;
  font-size: 12px;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .star_point_wrapp:before,
.profile_modal .profile_area .profile_wrap .profile_modal_main .star_point_wrapp:after {
  content: "";
  flex-grow: 1;
  border-top: 2px dashed #444;
  display: block;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo {
  width: 100%;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover .btn_content {
  text-align: center;
  width: auto;
  font-size: 0.75rem;
  font-weight: 600;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover .btn_content > p {
  padding-top: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover .btn_wrapp {
  width: 65px;
  margin: 0 auto;
  padding: 20px 0 30px 0;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover .btncover {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover .star_btn {
  color: #b6b6b6;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover .star_icon_cover span {
  font-size: 70px;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover .star_btn_active {
  color: #ebcb4d;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover .share_icon_cover {
  border: solid 2px black;
}

.profile_modal .profile_area .profile_wrap .profile_modal_main .profile_modal_todo .profile_modal_cover .share_icon_cover span {
  font-size: 40px;
}

.profile_modal.is-show {
  opacity: 1;
  visibility: visible;
}

.profile_wrap {
  width: 80%;
  height: 500px;
}

.close-btn i {
  font-size: 20px;
  color: #333;
}

.black-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  z-index: 99;
  cursor: pointer;
}
