@import "./variable";
.s{
    font-size: 0.7rem;
}
.l{
    font-size: 2rem;
}
.mb-s{
    margin-bottom: 10px;
}
.mb-m{
    margin-bottom: 20px;
}
.mb-l{
    margin-bottom: 30px;
}
.hidden{
    display: none !important;
}
.invisible{
    opacity: 0;
    pointer-events: none;
}
.logo_color{
    stroke: $sub_bg_color;
}

.c_bg-white{
    background-color: $white !important;
}
.inquery_btn{
    background-color: $white;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    border-radius: 4px;
    font-size: 0.8rem;
}
.btn{
    width: 100%;
    text-align: center;
    border-radius: 30px;
    border: solid 4px $sub_bg_color;
    padding: 8px;
}

.btn-primary{
    @extend .btn;
    background-color: $sub_bg_color;
    border-color: $button_border;
    color: $white;
    font-size: 0.8rem;
    font-weight: 800;
}
.btn-secondary{
    @extend .btn;
    background-color: $white;
    border-color: $sub_bg_color;
    color: $text_color;
    font-size: 0.8rem;
    font-weight: 800;
}
.btn-white{
    @extend .btn;
    background-color: $white;
    border-color: $sub_bg_color;
    color: $text_color;
    font-weight: 800;
}

.input{
    display: block;
    width: 100%;
    background-color: $white;
    color: $sub_bg_color;
    border-radius: 30px;
    color: $text_color;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: background-color 0.3s, border-color 0.3s;
    padding: 6px 12px;
    &:focus{
        //background-color: #e2edf2;
        border-color: $input_border;
    }
}
.input-thick{
    @extend .input;
    padding: 12px 24px;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}