@import "./variable";
.l_home_header{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.l_home{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 30px;
}
.l_home_culumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.l_play_header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.l_play_header__spacer{
    width: 100vw;
    height: 60px;
}
.l_theme_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 40px;
}
.l_theme_main__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.l_algorithm{
    padding: 10px 30px;
    //height: calc(100vh - 250px);
    margin-bottom: 150px;
}
.l_instraction{
    width: 100%;
    background-color: $white;
    min-height: calc(100vh - 90px);
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.l_finish{
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}