@import "./variable";
.l_home_header{
    display: flex;
    justify-content: space-between;
}
.l_home{
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 30px;
}
.l_home_culumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}