@import "./variable";
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    .version{
        font-weight: 600;
    }
}
/* タイトル画面 */
.p_home_logo{
    font-weight: 700;
    font-size: 3rem;
    img{
        width: 80vw;
    }
    margin: 10vh 0 15vh 0;
}
.p_home_user_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: $text_color;
        border: 3px solid rgba(255, 255, 255, 0.5);
        box-sizing: content-box;
        position: relative;
    }
    p{
        font-size: 0.7rem;
        white-space: nowrap;
    }
}
.p_home_link{
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 30px;
    //animation: home_link 3s linear infinite;
    &:last-of-type{
        margin-bottom: 60px;
    }
}
@keyframes home_link {
    0%{
        transform: translateY(0px);
    }
    5%{
        transform: translateY(-5px);
    }
    10%{
        transform: translateY(0px);
    }
}

/* プレイ画面 */
/* テーマ入力 */
.p_pray_header{
    background-color: $sub_bg_color;
    color: $white;
}
.p_pray_header__back{
    color: $text_color;
    background-color: $white;
    border-radius: 100px;
    width: 35px;
    height: 35px;

    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
.p_pray_header__title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.p_theme_main{
    margin: 60px 0;
    h1{
        font-weight: 800;
        font-size: 1.4rem;
    }
    p{
        font-size: 0.9;
    }
}
.p_theme_input{
    margin-bottom: 60px;
}
.p_theme_input__letter_counter{
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
}
