$main_bg_color: #E2EFEF;
$sub_bg_color: #3A9FA8;
$sub_bg_modal: #3a9fa88e;
$text_color: #3A9FA8;
$white: #fbfeff;
$text_black: rgb(17, 17, 17);
$greyish: #D9E7EB;
$button_border: #62BBC3;
$second_color: #eb9718;
$input_border: #eb9718ab;
$disabled: #EE3F7A;
$valid: #0fdd69;
$r: 4px;
$frame_color: #379ea760;/* ボタンの枠の色 */
$rank_point_font_size: 0.5rem;/* ランクポイントのフォントサイズ */