$main_bg_color: #E2EFEF;
$sub_bg_color: #3A9FA8;
$text_color: #3A9FA8;
$white: #fbfeff;
$text_black: rgb(17, 17, 17);
$greyish: #D9E7EB;
$button_border: #62BBC3;
$second_color: #eb9718;
$input_border: #eb9718ab;
$disabled: #EE3F7A;
$r: 4px;