@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  appearance: checkbox;
}

[type="radio"] {
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="strawberry"] {
  --main_bg_color: #F5EAED;
  --sub_bg_color: #DE4065;
  --text_color: #DE4065;
  --button_border: #EE90A6;
  --second_color: #A6D114;
  --input_border: #A6D114;
}

:root[theme="emerald"] {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="emeraldgreen"] {
  --main_bg_color: #E8F6EF;
  --sub_bg_color: #0FAA6C;
  --text_color: #0FAA6C;
  --button_border: #82D8B3;
  --second_color: #D51194;
  --input_border: #D51194;
}

:root[theme="oceanblue"] {
  --main_bg_color: #ECF2FF;
  --sub_bg_color: #417ECE;
  --text_color: #417ECE;
  --button_border: #93B6E6;
  --second_color: #A8D511;
  --input_border: #A8D511;
}

:root[theme="grapefruit"] {
  --main_bg_color: #F5F2EA;
  --sub_bg_color: #FFAA00;
  --text_color: #DF2588;
  --button_border: #EA8AB8;
  --second_color: #DF2588;
  --input_border: #DF2588;
}

:root[theme="amethyst"] {
  --main_bg_color: #F9ECFF;
  --sub_bg_color: #7A4C9D;
  --text_color: #030897;
  --button_border: #B298CE;
  --second_color: #030897;
  --input_border: #030897;
}

:root[theme="depth"] {
  --main_bg_color: #15277D;
  --sub_bg_color: #0C1A60;
  --text_color: #00BAFF;
  --button_border: #B298CE;
  --second_color: #00BAFF;
  --input_border: #00BAFF;
}

:root[theme="jupiter"] {
  --main_bg_color: #E5DEDC;
  --sub_bg_color: #7E7473;
  --text_color: #7E7473;
  --button_border: #303030;
  --second_color: #FF9100;
  --input_border: #FF9100;
}

:root[theme="lipstick"] {
  --main_bg_color: #D9D9D9;
  --sub_bg_color: #A4A4A4;
  --text_color: #FF406D;
  --button_border: #C4C4C4 ;
  --second_color: #FF406D;
  --input_border: #FF406D;
}

:root[theme="roseiron"] {
  --main_bg_color: #716D7D;
  --sub_bg_color: #383340;
  --text_color: #FF8000;
  --button_border: #544F5E ;
  --second_color: #FF8000;
  --input_border: #FF8000;
}

/* color */
body {
  font-family: 'M PLUS 2', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--text_color);
  background-color: var(--main_bg_color);
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.number_font {
  font-family: 'Montserrat', sans-serif;
}

.alp_font {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="strawberry"] {
  --main_bg_color: #F5EAED;
  --sub_bg_color: #DE4065;
  --text_color: #DE4065;
  --button_border: #EE90A6;
  --second_color: #A6D114;
  --input_border: #A6D114;
}

:root[theme="emerald"] {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="emeraldgreen"] {
  --main_bg_color: #E8F6EF;
  --sub_bg_color: #0FAA6C;
  --text_color: #0FAA6C;
  --button_border: #82D8B3;
  --second_color: #D51194;
  --input_border: #D51194;
}

:root[theme="oceanblue"] {
  --main_bg_color: #ECF2FF;
  --sub_bg_color: #417ECE;
  --text_color: #417ECE;
  --button_border: #93B6E6;
  --second_color: #A8D511;
  --input_border: #A8D511;
}

:root[theme="grapefruit"] {
  --main_bg_color: #F5F2EA;
  --sub_bg_color: #FFAA00;
  --text_color: #DF2588;
  --button_border: #EA8AB8;
  --second_color: #DF2588;
  --input_border: #DF2588;
}

:root[theme="amethyst"] {
  --main_bg_color: #F9ECFF;
  --sub_bg_color: #7A4C9D;
  --text_color: #030897;
  --button_border: #B298CE;
  --second_color: #030897;
  --input_border: #030897;
}

:root[theme="depth"] {
  --main_bg_color: #15277D;
  --sub_bg_color: #0C1A60;
  --text_color: #00BAFF;
  --button_border: #B298CE;
  --second_color: #00BAFF;
  --input_border: #00BAFF;
}

:root[theme="jupiter"] {
  --main_bg_color: #E5DEDC;
  --sub_bg_color: #7E7473;
  --text_color: #7E7473;
  --button_border: #303030;
  --second_color: #FF9100;
  --input_border: #FF9100;
}

:root[theme="lipstick"] {
  --main_bg_color: #D9D9D9;
  --sub_bg_color: #A4A4A4;
  --text_color: #FF406D;
  --button_border: #C4C4C4 ;
  --second_color: #FF406D;
  --input_border: #FF406D;
}

:root[theme="roseiron"] {
  --main_bg_color: #716D7D;
  --sub_bg_color: #383340;
  --text_color: #FF8000;
  --button_border: #544F5E ;
  --second_color: #FF8000;
  --input_border: #FF8000;
}

/* color */
.s {
  font-size: 0.7rem;
}

.l {
  font-size: 2rem;
}

.mb-s {
  margin-bottom: 10px;
}

.mb-m {
  margin-bottom: 20px;
}

.mb-l {
  margin-bottom: 30px;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.logo_color {
  stroke: var(--sub_bg_color);
}

.c_bg-white {
  background-color: #fbfeff !important;
}

.inquery_btn {
  background-color: #fbfeff;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.btn, .btn-primary, .btn-secondary, .btn-white {
  width: 100%;
  text-align: center;
  border-radius: 30px;
  border: solid 4px var(--sub_bg_color);
  padding: 8px;
}

.btn-primary {
  background-color: var(--sub_bg_color);
  border-color: var(--button_border);
  color: #fbfeff;
  font-size: 0.8rem;
  font-weight: 800;
}

.btn-secondary {
  background-color: #fbfeff;
  border-color: var(--sub_bg_color);
  color: var(--text_color);
  font-size: 0.8rem;
  font-weight: 800;
}

.btn-white {
  background-color: #fbfeff;
  border-color: var(--sub_bg_color);
  color: var(--text_color);
  font-weight: 800;
}

.input, .input-thick {
  display: block;
  width: 100%;
  background-color: #fbfeff;
  color: var(--sub_bg_color);
  border-radius: 30px;
  color: var(--text_color);
  border: 2px solid rgba(0, 0, 0, 0);
  transition: background-color 0.3s, border-color 0.3s;
  padding: 6px 12px;
}

.input:focus, .input-thick:focus {
  border-color: var(--input_border);
}

.input-thick {
  padding: 12px 24px;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfeff;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

:root {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="strawberry"] {
  --main_bg_color: #F5EAED;
  --sub_bg_color: #DE4065;
  --text_color: #DE4065;
  --button_border: #EE90A6;
  --second_color: #A6D114;
  --input_border: #A6D114;
}

:root[theme="emerald"] {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="emeraldgreen"] {
  --main_bg_color: #E8F6EF;
  --sub_bg_color: #0FAA6C;
  --text_color: #0FAA6C;
  --button_border: #82D8B3;
  --second_color: #D51194;
  --input_border: #D51194;
}

:root[theme="oceanblue"] {
  --main_bg_color: #ECF2FF;
  --sub_bg_color: #417ECE;
  --text_color: #417ECE;
  --button_border: #93B6E6;
  --second_color: #A8D511;
  --input_border: #A8D511;
}

:root[theme="grapefruit"] {
  --main_bg_color: #F5F2EA;
  --sub_bg_color: #FFAA00;
  --text_color: #DF2588;
  --button_border: #EA8AB8;
  --second_color: #DF2588;
  --input_border: #DF2588;
}

:root[theme="amethyst"] {
  --main_bg_color: #F9ECFF;
  --sub_bg_color: #7A4C9D;
  --text_color: #030897;
  --button_border: #B298CE;
  --second_color: #030897;
  --input_border: #030897;
}

:root[theme="depth"] {
  --main_bg_color: #15277D;
  --sub_bg_color: #0C1A60;
  --text_color: #00BAFF;
  --button_border: #B298CE;
  --second_color: #00BAFF;
  --input_border: #00BAFF;
}

:root[theme="jupiter"] {
  --main_bg_color: #E5DEDC;
  --sub_bg_color: #7E7473;
  --text_color: #7E7473;
  --button_border: #303030;
  --second_color: #FF9100;
  --input_border: #FF9100;
}

:root[theme="lipstick"] {
  --main_bg_color: #D9D9D9;
  --sub_bg_color: #A4A4A4;
  --text_color: #FF406D;
  --button_border: #C4C4C4 ;
  --second_color: #FF406D;
  --input_border: #FF406D;
}

:root[theme="roseiron"] {
  --main_bg_color: #716D7D;
  --sub_bg_color: #383340;
  --text_color: #FF8000;
  --button_border: #544F5E ;
  --second_color: #FF8000;
  --input_border: #FF8000;
}

/* color */
.l_home_header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.l_home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 30px;
}

.l_home_culumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l_play_header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.l_play_header__spacer {
  width: 100vw;
  height: 60px;
}

.l_theme_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
  padding: 40px;
}

.l_theme_main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l_algorithm {
  padding: 10px 30px;
  margin-bottom: 150px;
}

.l_instraction {
  width: 100%;
  background-color: #fbfeff;
  min-height: calc(100vh - 90px);
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.l_finish {
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

:root {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="strawberry"] {
  --main_bg_color: #F5EAED;
  --sub_bg_color: #DE4065;
  --text_color: #DE4065;
  --button_border: #EE90A6;
  --second_color: #A6D114;
  --input_border: #A6D114;
}

:root[theme="emerald"] {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="emeraldgreen"] {
  --main_bg_color: #E8F6EF;
  --sub_bg_color: #0FAA6C;
  --text_color: #0FAA6C;
  --button_border: #82D8B3;
  --second_color: #D51194;
  --input_border: #D51194;
}

:root[theme="oceanblue"] {
  --main_bg_color: #ECF2FF;
  --sub_bg_color: #417ECE;
  --text_color: #417ECE;
  --button_border: #93B6E6;
  --second_color: #A8D511;
  --input_border: #A8D511;
}

:root[theme="grapefruit"] {
  --main_bg_color: #F5F2EA;
  --sub_bg_color: #FFAA00;
  --text_color: #DF2588;
  --button_border: #EA8AB8;
  --second_color: #DF2588;
  --input_border: #DF2588;
}

:root[theme="amethyst"] {
  --main_bg_color: #F9ECFF;
  --sub_bg_color: #7A4C9D;
  --text_color: #030897;
  --button_border: #B298CE;
  --second_color: #030897;
  --input_border: #030897;
}

:root[theme="depth"] {
  --main_bg_color: #15277D;
  --sub_bg_color: #0C1A60;
  --text_color: #00BAFF;
  --button_border: #B298CE;
  --second_color: #00BAFF;
  --input_border: #00BAFF;
}

:root[theme="jupiter"] {
  --main_bg_color: #E5DEDC;
  --sub_bg_color: #7E7473;
  --text_color: #7E7473;
  --button_border: #303030;
  --second_color: #FF9100;
  --input_border: #FF9100;
}

:root[theme="lipstick"] {
  --main_bg_color: #D9D9D9;
  --sub_bg_color: #A4A4A4;
  --text_color: #FF406D;
  --button_border: #C4C4C4 ;
  --second_color: #FF406D;
  --input_border: #FF406D;
}

:root[theme="roseiron"] {
  --main_bg_color: #716D7D;
  --sub_bg_color: #383340;
  --text_color: #FF8000;
  --button_border: #544F5E ;
  --second_color: #FF8000;
  --input_border: #FF8000;
}

/* color */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .version {
  font-weight: 600;
}

/* タイトル画面 */
/* .p_footer{
} */
.p_home_logo {
  font-weight: 700;
  font-size: 3rem;
  margin: 40px 0 70px 0;
}

.p_home_logo img {
  width: 80vw;
}

.p_home_user_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.p_home_user_icon img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--main_bg_color);
  border: 3px solid var(--button_border);
  box-sizing: content-box;
  position: relative;
  object-fit: cover;
}

.p_home_user_icon p {
  font-size: 0.7rem;
  white-space: nowrap;
}

.p_home_link {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 30px;
  animation: home_link 3s linear infinite;
}

.p_home_link:last-of-type {
  margin-bottom: 60px;
}

@keyframes home_link {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(-5px);
  }
  10% {
    transform: translateY(0px);
  }
}

/* プレイ画面 */
/* テーマ入力 */
.p_play_header {
  background-color: var(--sub_bg_color);
  color: #fbfeff;
  font-size: 0.9rem;
  font-weight: 800;
}

.p_play_header__back {
  color: var(--text_color);
  background-color: #fbfeff;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.p_play_header__back span {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.p_play_header__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.p_theme_main {
  margin: 60px 0;
}

.p_theme_main h1 {
  font-weight: 800;
  font-size: 1.4rem;
}

.p_theme_main p {
  font-size: 0.9;
}

.p_theme_input {
  margin-bottom: 60px;
}

.p_theme_input__letter_counter {
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
}

/* やることリスト入力画面 */
.theme_title {
  width: 100vw;
  height: 30px;
  color: #fbfeff;
  position: fixed;
  top: 59px;
  background-color: var(--sub_bg_color);
  text-align: center;
  z-index: 10;
}

.theme_title__spacer {
  height: 30px;
  width: 100%;
}

.algorithm_head {
  font-size: 0.9rem;
}

.algorithm_form {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--sub_bg_color);
  padding: 20px;
  gap: 10px;
}

.algorithm_add_textbox {
  width: fit-content;
}

.algorithm_add_button {
  background-color: #fbfeff;
  color: var(--second_color);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.algorithm_add_button span {
  font-size: 42px !important;
}

.algorithm_list__item {
  display: flex;
  border-bottom: dashed 1px var(--sub_bg_color);
}

.algorithm_list__item:nth-last-of-type(1) {
  border-bottom: dashed 1px transparent;
}

.algorithm_number {
  width: 25px;
  font-size: 16px;
  line-height: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.algorithm_contents {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.algorithm_contents .handle {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
}

.algorithm_contents.is-active {
  background-color: #fbfeff;
  color: var(--sub_bg_color);
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.algorithm_contents .algorithm_name {
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-weight: 600;
}

.algorithm_contents .material_items {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-top: 2px dotted var(--sub_bg_color);
}

.algorithm_contents .material_items button {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  color: #EE3F7A;
}

.algorithm_contents .material_items button:nth-last-of-type(1) {
  width: 65%;
  height: 60px;
  color: var(--sub_bg_color);
  border-left: 2px dotted var(--sub_bg_color);
}

.algorithm_contents .material_items button .material-icons-round {
  width: 27px;
}

.algorithm_contents .material_items button .delete {
  font-size: 24px;
}

.algorithm_contents .material_items button .border {
  font-size: 22px;
}

.algorithm_contents .material_items button p {
  line-height: 15px;
  font-size: 15px;
  height: 15px;
}

.p_button_box, .p_button_box-only {
  height: 90px;
  background: var(--main_bg_color);
  position: fixed;
  left: 0;
  bottom: 59px;
  width: 100vw;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.p_button_box form, .p_button_box-only form {
  width: 100%;
}

.p_button_box-only {
  bottom: 0;
}

/* instraction */
.p_instraction__move {
  background-color: var(--main_bg_color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
}

.p_instraction__move span {
  font-size: 2.4rem !important;
}

.p_instraction_content {
  border-bottom: 1px dashed transparent;
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: calc((1em * 1.5) + 30px);
  font-size: 0.9rem;
}

.p_instraction_content span {
  padding: 15px 0;
}

.p_instraction_content p {
  padding: 15px;
}

.p_instraction_content:last-of-type {
  border: none;
}

.filled {
  border-color: var(--sub_bg_color);
}

.p_instraction_content_active {
  border-radius: 4px;
  border: 1px solid var(--main_bg_color);
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  font-size: 1.3rem;
}

.p_instraction__tools {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.p_instraction__tools .p_instraction__dots {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p_instraction__tools .p_instraction__dots div {
  background-color: var(--sub_bg_color);
  width: 12px;
  height: 12px;
  border-radius: 40px;
}

.p_instraction__tools .p_instraction__dots div:nth-of-type(2) {
  opacity: 0.7;
}

.p_instraction__tools .p_instraction__dots div:nth-of-type(3) {
  opacity: 0.5;
}

.p_instraction__tools .p_instraction_all {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 0.9rem;
}

.p_instraction_all_list_modal {
  border-left: 10px solid var(--sub_bg_color);
  display: none;
}

.show {
  display: block;
  animation: show 0.5s forwards;
}

.close {
  display: block;
  animation: close 0.5s forwards;
}

@keyframes show {
  0% {
    position: absolute;
    top: 90px;
    transform: translateX(100%);
  }
  99% {
    position: absolute;
    top: 90px;
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes close {
  0% {
    position: absolute;
    top: 90px;
    transform: translateX(0%);
  }
  99% {
    position: absolute;
    top: 90px;
    transform: translateX(99%);
  }
  100% {
    transform: translateX(100%);
  }
}

.p_instraction_comp_modal {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: var(--sub_bg_color);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 11;
}

.p_instraction_comp_modal_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
}

.p_instraction_comp_modal_q {
  text-align: center;
  color: #fbfeff;
  font-size: 1.4rem;
}

.p_instraction_comp_modal_window {
  border-radius: 4px;
  background-color: #fbfeff;
}

.p_instraction_comp_modal_title {
  text-align: center;
  margin: 10px auto;
  border-radius: 50px;
  width: 60%;
  background-color: var(--sub_bg_color);
  color: #fbfeff;
  padding: 4px;
}

.p_instraction_comp_modal_theme {
  margin: 20px auto;
  text-align: center;
}

.p_instraction_comp_modal_judge_box {
  border-top: 1px dashed var(--sub_bg_color);
  display: flex;
}

.p_instraction_comp_modal_judge_box button {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p_instraction_comp_modal_judge_box button span {
  font-size: 4rem;
}

.p_instraction_comp_modal_judge_box .fail {
  color: #EE3F7A;
  border-right: 1px dashed var(--sub_bg_color);
}

.p_instraction_comp_modal_judge_box .success {
  color: #0fdd69;
}

#close_comp_modal {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-50%) translateY(50%);
  border: 0px solid var(--sub_bg_color);
  background-color: #fbfeff;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 30px;
}

.c_show {
  display: flex;
  animation: c_show 0.5s forwards;
}

.c_close {
  display: flex;
  animation: c_close 0.5s 0.5s forwards;
}

.c_close_up {
  animation: c_close_up .8s forwards;
}

@keyframes c_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes c_close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes c_close_up {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

/* project */
:root {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="strawberry"] {
  --main_bg_color: #F5EAED;
  --sub_bg_color: #DE4065;
  --text_color: #DE4065;
  --button_border: #EE90A6;
  --second_color: #A6D114;
  --input_border: #A6D114;
}

:root[theme="emerald"] {
  --main_bg_color: #e1efef;
  --sub_bg_color: #3A9FA8;
  --text_color: #3A9FA8;
  --button_border: #62BBC3;
  --second_color: #eb9718;
}

:root[theme="emeraldgreen"] {
  --main_bg_color: #E8F6EF;
  --sub_bg_color: #0FAA6C;
  --text_color: #0FAA6C;
  --button_border: #82D8B3;
  --second_color: #D51194;
  --input_border: #D51194;
}

:root[theme="oceanblue"] {
  --main_bg_color: #ECF2FF;
  --sub_bg_color: #417ECE;
  --text_color: #417ECE;
  --button_border: #93B6E6;
  --second_color: #A8D511;
  --input_border: #A8D511;
}

:root[theme="grapefruit"] {
  --main_bg_color: #F5F2EA;
  --sub_bg_color: #FFAA00;
  --text_color: #DF2588;
  --button_border: #EA8AB8;
  --second_color: #DF2588;
  --input_border: #DF2588;
}

:root[theme="amethyst"] {
  --main_bg_color: #F9ECFF;
  --sub_bg_color: #7A4C9D;
  --text_color: #030897;
  --button_border: #B298CE;
  --second_color: #030897;
  --input_border: #030897;
}

:root[theme="depth"] {
  --main_bg_color: #15277D;
  --sub_bg_color: #0C1A60;
  --text_color: #00BAFF;
  --button_border: #B298CE;
  --second_color: #00BAFF;
  --input_border: #00BAFF;
}

:root[theme="jupiter"] {
  --main_bg_color: #E5DEDC;
  --sub_bg_color: #7E7473;
  --text_color: #7E7473;
  --button_border: #303030;
  --second_color: #FF9100;
  --input_border: #FF9100;
}

:root[theme="lipstick"] {
  --main_bg_color: #D9D9D9;
  --sub_bg_color: #A4A4A4;
  --text_color: #FF406D;
  --button_border: #C4C4C4 ;
  --second_color: #FF406D;
  --input_border: #FF406D;
}

:root[theme="roseiron"] {
  --main_bg_color: #716D7D;
  --sub_bg_color: #383340;
  --text_color: #FF8000;
  --button_border: #544F5E ;
  --second_color: #FF8000;
  --input_border: #FF8000;
}

/* color */
.congrat {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 20px;
}

.user_icon {
  width: 100px;
  height: 100px;
}

.user_icon img {
  border: 2px solid var(--button_border);
  background-color: var(--main_bg_color);
  border-radius: 100px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.level_wrapper {
  width: 100%;
  margin-bottom: 10px;
}

.level_box {
  position: relative;
  width: 100%;
  height: 18px;
  color: var(--sub_bg_color);
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.16);
}

.next_level {
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}

.next_level span {
  color: var(--text_color);
  font-size: 1.2rem;
}

.animation-box {
  max-width: 100%;
  height: 100%;
  color: #333;
  box-sizing: border-box;
  border-radius: 20px;
}

.animation {
  height: 100%;
  border-radius: 20px;
  background-color: #ebcb4d;
  animation-name: animation-sample;
  /*--アニメーション名--*/
  animation-duration: 3s;
  /*--時間--*/
  animation-iteration-count: 1;
  /*--実行回数--*/
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes animation-sample {
  0% {
    width: 5%;
  }
  100% {
    width: 100%;
  }
}

.rank_point {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: var(--text_color);
  font-size: 0.8rem;
}

.level_up_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 12;
  opacity: 0;
  align-items: center;
  justify-content: center;
  color: #fbfeff;
  display: flex;
}

.bg_fade_in {
  animation: bg_fade .5s forwards;
}

.bg_fade_out {
  animation: bg_fade_out .5s forwards;
}

@keyframes bg_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg_fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.level_up_window_box {
  width: 100%;
  padding: 0 20px;
  max-height: 0px;
  transition: max-height .4s .2s,transform .4s .2s;
  transition-timing-function: linear;
  overflow: hidden;
  transform: translateY(-50%);
}

.level_up_window {
  border-top: 1px solid #fbfeff;
  border-bottom: 1px solid #fbfeff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level_up_text {
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  width: 100vw;
  background: linear-gradient(0deg, rgba(255, 252, 197, 0) 0%, rgba(255, 250, 148, 0.15) 50%, rgba(255, 252, 197, 0) 100%);
}

.level_up_text span {
  background: linear-gradient(333deg, #ffe011 0%, #fffcc5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.level_progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 700;
}

.level_progress .privious {
  font-size: 1.1rem;
  margin-bottom: -3px;
}

.level_progress .arrow {
  font-size: 20px;
  margin-bottom: -5px;
}

.level_progress .current {
  font-size: 1.8rem;
  font-weight: 800;
  background: linear-gradient(333deg, #f2d625 0%, #ddd98a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reward_item {
  width: 33vw;
  height: 33vw;
}

.reward_item img {
  border-radius: 200px;
  background-color: #fbfeff;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color_item {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.color_item::after {
  content: "";
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.color_item::before {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top right;
}

.reward_text {
  margin-bottom: 10px;
}

.rewards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.reward_name {
  text-align: center;
  background-color: #fbfeff;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--text_color);
  margin-top: 5px;
}

.emerald + p {
  color: #3A9FA8 !important;
}

.emerald::after {
  background-color: #3A9FA8;
}

.emerald::before {
  background-color: #e1efef;
}

.emeraldgreen + p {
  margin-top: 5px;
  color: #0FAA6C !important;
}

.emeraldgreen::after {
  background-color: #0FAA6C;
}

.emeraldgreen::before {
  background-color: #E8F6EF;
}

.strawberry + p {
  margin-top: 5px;
  color: #DE4065 !important;
}

.strawberry::after {
  background-color: #DE4065;
}

.strawberry::before {
  background-color: #F5EAED;
}

.oceanblue + p {
  margin-top: 5px;
  color: #417ECE !important;
}

.oceanblue::after {
  background-color: #417ECE;
}

.oceanblue::before {
  background-color: #ECF2FF;
}

.grapefruit + p {
  margin-top: 5px;
  color: #FFAA00 !important;
}

.grapefruit::after {
  background-color: #FFAA00;
}

.grapefruit::before {
  background-color: #F5F2EA;
}

.amethyst + p {
  margin-top: 5px;
  color: #7A4C9D !important;
}

.amethyst::after {
  background-color: #7A4C9D;
}

.amethyst::before {
  background-color: #F9ECFF;
}

.depth + p {
  margin-top: 5px;
  color: #0C1A60 !important;
}

.depth::after {
  background-color: #0C1A60;
}

.depth::before {
  background-color: #15277D;
}

.jupiter + p {
  margin-top: 5px;
  color: #7E7473 !important;
}

.jupiter::after {
  background-color: #7E7473;
}

.jupiter::before {
  background-color: #E5DEDC;
}

.lipstick + p {
  margin-top: 5px;
  color: #A4A4A4 !important;
}

.lipstick::after {
  background-color: #A4A4A4;
}

.lipstick::before {
  background-color: #D9D9D9;
}

.roseiron + p {
  margin-top: 5px;
  color: #383340 !important;
}

.roseiron::after {
  background-color: #383340;
}

.roseiron::before {
  background-color: #716D7D;
}

.close_level_up {
  padding-top: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}

form {
  width: 100%;
}

.end_game {
  width: 100%;
  margin-top: 40px;
}

.public_setting {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--sub_bg_color);
  color: #fbfeff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.public_text {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #fbfeff;
}

.public_radio {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.public_radio:last-of-type {
  padding-bottom: 0px;
}

.public_radio .material-icons-round {
  font-size: 2rem;
  margin-right: 10px;
}

.radio_btn {
  width: 20px;
  height: 20px;
  border: 1px solid #fbfeff;
  position: relative;
  border-radius: 30px;
  margin-left: auto;
  overflow: hidden;
}

input[type=radio] {
  display: none;
}

.radio_btn_active::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  background-color: #fbfeff;
  animation: radio 0.2s forwards;
}

@keyframes radio {
  0% {
    transform: translateX(-50%) translateY(0%);
  }
  80% {
    transform: translateX(-50%) translateY(-60%);
  }
  90% {
    transform: translateX(-50%) translateY(-40%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}
/*# sourceMappingURL=style.css.map */